<% title 'New Movie' %>
<div class="wrapper container">
  <div class="row">
  <div class="col-md-2"></div>
    <div class="col-md-8">
      <%= nested_form_for(@movie) do |f| %>
        <% if @movie.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>
            <ul>
              <% @movie.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title , class: 'form-control', required: true, maxlength: 35 %>
        </div>
        <div class="newline"></div>
        <div class="field">
          <%= f.label :trailer %>
          <%= f.text_area :trailer, class: 'form-control', required: true %>
        </div>
        <div class="newline"></div>
        <div class="field">
          <%= f.label :release_date %>
          <%= f.date_field :release_date, required: true, class: 'form-control' %>
        </div>
        <div class="newline"></div>
        <div class="field">
          <%= f.label 'duration (in mins)' %>
          <%= f.number_field :duration, required: true, class: 'form-control' %>
        </div>
        <div class="newline"></div>

        <div class="field">
          <%= f.label :description %>
          <%= f.cktext_area :description, rows: 10, required: true %>
        </div>
        <div class="newline"></div>
        <div class="field">
          <%= f.fields_for :posters do |poster| %>
          <% unless poster.object.image.url(:medium) == 'medium/missing.png' %>
            <div><%= image_tag poster.object.image.url(:thumb) %></div>
          <% end %>
            <%= poster.file_field :image %>
              <%= poster.link_to_remove "Remove poster" %>
          <% end %>
          <p> <%= f.link_to_add "Add poster", :posters, class: 'btn btn-primary' %></p>
        </div>
        <div class="newline"></div>
        <div class="field">
          <%= f.label :genre %><div class="newline"></div>
          <%= f.select :genre, options_for_select(Movie::OPTIONS, selected: @movie.genre), {} , { class: 'form-control', required: true } %>
        </div>
        <div class="newline"></div>
        <div>
          <label>Select Actors </label>
          <div class="newline"></div>
          <%= f.select :actor_ids, options_from_collection_for_select(Actor.all, 'id', 'name', @selected_movies), {}, { multiple: true, class: 'form-control', required: true } %>
          <div class="newline"></div>
          <div class="newline"></div>
        </div>

        <%= f.submit "Submit", class: 'btn btn-success' %>
        <div class="newline"></div>
      <% end %>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
