<div class="wrapper container">
  <div class="row">
  <div class="col-md-2"></div>
    <div class="col-md-8">
      <%= nested_form_for(@movie) do |f| %>
        <% if @movie.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>
            <ul>
              <% @movie.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :title %><br>
          <%= f.text_field :title , class: 'form-control', required: true, maxlength: 150 %>
        </div>

        <div class="field">
          <%= f.label :trailer %><br>
          <%= f.text_area :trailer, class: 'form-control', required: true %>
        </div>

        <div class="field">
          <%= f.label :release_date %><br>
          <%= f.date_field :release_date, required: true, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label 'duration (in mins)' %>
          <%= f.number_field :duration, required: true, class: 'form-control' %>
        </div>


        <div class="field">
          <%= f.label :description %><br>
          <%= f.cktext_area :description, rows: 10, required: true %>
        </div>
        <br />
        <div>
          <%= f.fields_for :posters do |poster| %>
            <%= poster.file_field :image %> <%= poster.link_to_remove "Remove poster" %>
          <% end %>
          <p> <%= f.link_to_add "Add poster", :posters, class: 'btn btn-primary' %></p>
        </div>
        <br />
        <div class="field">
          <%= f.label :genre %><br>
          <%= f.select :genre, options_for_select(Movie::OPTIONS), {}, { multiple: true, class: 'form-control' } %>
        </div>
        <div>
          <label>Select Actors </label>
          <br />
          <%= f.select :actor_ids, options_from_collection_for_select(Actor.all, 'id', 'name', @selected_movies), {}, { multiple: true, class: 'form-control' } %>
          <br/ >
          <br />
        </div>
        <br />
        <br />
        <div class="actions">
          <%= f.submit "Submit", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
