<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Trailer:</strong>
  <%= raw(@movie.trailer) %>
</p>

<p>
  <strong>Description:</strong>
  <%= raw(@movie.description) %>
</p>

<p>
  <strong>Featured:</strong>
  <%= @movie.featured %>
</p>

<p>
  <% @movie.posters.each do |poster| %>
    <%= image_tag poster.image.url(:thumb) %>
  <% end %>
</p>
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
