<% if @top_rated.present? %>
  <div class='container'>
    <h1 class='text-center'>Top</h1>
    <div class='container-fluid'>
      <div class='row'>
        <% @top_rated.each do |movie| %>
           <div class='col-md-3' class='index-movie-alignment'>
            <%= link_to movie, class: 'movie-anchor' do %>
              <%= image_tag movie.first_poster.image.url(:medium), class: 'movie-img' %>
            <% end %>
            <div class='movie-title-alignment'>
              <strong><%= movie.title %></strong>
            </div>
          </div>
        <% end %>
      </div>
      <div class='margin-down pull-center'>
        <%= link_to 'View All', movies_path(type: 'top_rated'), class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>
<% if @latest.present? %>
  <div class='container'>
    <h1 class='text-center'>Latest</h1>
    <div class='container-fluid'>
      <div class='row'>
        <% @latest.each do |movie| %>
          <div class='col-md-3' class='index-movie-alignment'>
            <%= link_to movie, class: 'movie-anchor' do %>
              <%= image_tag movie.first_poster.image.url(:medium), class: 'movie-img' %>
            <% end %>
            <div class='movie-title-alignment'>
              <strong><%= movie.title %></strong>
            </div>
          </div>
        <% end %>
      </div>
      <div>
         <%= link_to 'View All', movies_path(type: 'latest'), class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>
<% if @featured.present? %>
  <div class='container'>
    <h1 class='text-center'>Featured</h1>
    <div class='container-fluid'>
      <div class='row'>
        <% @featured.each do |movie| %>
          <div class='col-md-3' class='index-movie-alignment'>
            <%= link_to movie, class: 'movie-anchor' do %>
              <%= image_tag movie.first_poster.image.url(:medium), class: 'movie-img' %>
            <% end %>
            <div class='movie-title-alignment'>
              <strong><%= movie.title %></strong>
            </div>
          </div>
        <% end %>
      </div>
      <div class='margin-down pull-center'>
        <%= link_to 'View All', movies_path(type: 'featured'), class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>
