<div class="movie-reviews review-<%= review.id %>">
  <strong>Review:</strong>
  <%= review.review %>
  <div class="clearfix"></div>
  <% if review.user_id == current_user.id %>
    <%= link_to 'Edit', edit_movie_review_path(@movie, review), remote: true, class: 'btn btn-primary btn-xs' %>
    <%= link_to 'Destroy', [@movie, review], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs', remote: :true %>
  <% end %>
  <% if review.user_id != current_user.id %>
    <% if review.reported_by?(current_user.id) %>
      <div class='btn btn-xs btn-danger'>Reported</div>
    <% else %>
    <span id="report-<%= review.id %>"><%= link_to 'Report', movie_review_report_reviews_path(@movie, review), class: 'btn btn-xs btn-primary', remote: true, method: :post %></span>
    <% end %>
  <% end %>
</div>
